{% extends "layout.html" %}

{% block title %}
    Retail Banks Currency Exchanges
{% endblock %}

{% block body %}

        <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Bank</th>
              <th scope="col">USD Bid</th>
              <th scope="col">USD Ask</th>
              <th scope="col">EUR Bid</th>
              <th scope="col">EUR Ask</th>
            </tr>
          </thead>

          <tbody>
            {% for rate, bank in rates %}
            <tr>
              <th scope="row">
              <a href="{{ url_for('bank', id=bank.id) }}">{{ bank.name }}</a></th>
              <td>{{ rate.usd_buy }}</td>
              <td>{{ rate.usd_sell }}</td>
              <td>{{ rate.eur_buy }}</td>
              <td>{{ rate.eur_sell }}</td>
            </tr>
           {% endfor %}

            <tr>
              <th scope="row"></a></th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
           
            <tr>
              <th scope="row">Maximum</a></th>
              <td>{{ stat_res.usd_buy_max }}</td>
              <td>{{ stat_res.usd_sell_max }}</td>
              <td>{{ stat_res.eur_buy_max }}</td>
              <td>{{ stat_res.eur_sell_max }}</td>
            </tr>
            
            <tr>
              <th scope="row">Minimum</a></th>
              <td>{{ stat_res.usd_buy_min }}</td>
              <td>{{ stat_res.usd_sell_min }}</td>
              <td>{{ stat_res.eur_buy_min }}</td>
              <td>{{ stat_res.eur_sell_min }}</td>
            </tr>
            
             <tr>
              <th scope="row">Average</a></th>
              <td>{{ '%0.2f'| format(stat_res.usd_buy_avg|float) }}</td>
              <td>{{ '%0.2f'| format(stat_res.usd_sell_avg|float) }}</td>
              <td>{{ '%0.2f'| format(stat_res.eur_buy_avg|float) }}</td>
              <td>{{ '%0.2f'| format(stat_res.eur_sell_avg|float) }}</td>
            </tr>
    
            
           </tbody>
        </table>
        </div>
{% endblock %}
